.root{
    -fx-font-size: 12px;
}

.pt-submit {
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.pt-cell{
    -fx-background-color: #ffffff;
    -fx-padding: 10;
}

.pt-white-text {
    -fx-fill: white;
}

.pt-cell-total {
    -fx-background-color: #dddddd;
    -fx-padding: 10;
}

.pt-cell-total-total {
    -fx-background-color: #444444;
    -fx-padding: 10;
}

.pt-header-cell {
    -fx-alignment: center;
    -fx-background-color: #1973C9;
    -fx-padding: 10;
}

.pt-header-cell-vertical {
    -fx-background-color: #1973C9;
    -fx-padding: 10;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}
